{% extends "bootstrap/base.html" %}

{% block title %}Shipping Servic&iacute;o{% endblock %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
             data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Shipping Service</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/address">Address</a></li>
                <li><a href="/people">People</a></li>
                <li><a href="/items_order">Order</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
        <footer class="footer">
            <p>© Company 2020</p>
        </footer>